@model List<ProductCRUD.Models.Category>

<main class="p-4">
    <h1>Categories</h1>

    <table class="table table-dark table-sm table-striped">
        <thead>
            <tr>
                <th>ID</th>

                <th>Name</th>

                <th>Products</th>

                <th>Created</th>

                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            @if (@Model != null)
            {
                foreach (var category in @Model)
                {
                    <tr data-bind="@category">
                        <td>@category.Id</td>

                        <td>@category.Name</td>

                        <td>@category.Products</td>

                        <td>@category.Created</td>

                        <td>
                            <div class="d-grid gap-2" style="grid-template-columns: repeat(3, 1fr); max-width: 16rem;">
                                <button id="delete-@category.Id" type="button" class="btn btn-danger btn-sm">Delete</button>

                                <a href="/Category/Edit/@category.Id" class="btn btn-warning btn-sm">Edit</a>

                                <a href="/Category/Details/@category.Id" class="btn btn-success btn-sm">Details</a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</main>

@section scripts
{
    <script>
        $(document).ready(() => {
            var categories = JSON.parse('@Html.Raw(Json.Encode(@Model))') ?? [];

            categories.map(category => {
                $(`#delete-${category.Id}`).click(() => {
                    console.log(`Click on DELETE category "${category}"`)
                });
            });
        });
    </script>
}
